.nav-link-hover:hover {
	background-color: #CE6784;
	color: white !important;
}
.btn-light:hover {
	background-color: #CE6784 !important;
}
.home-text-container {
	color: #CE6784;
}
.slide-img {
	opacity: 0.5;
}
.btn-bank {
	background-color: #CE6784 !important;
}